<!DOCTYPE html>
<html>
<head>

    <title>Image Gallery</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">

</head>
<body>
    <h1>Image Gallery</h1>
    {% for image in images %}
        <div class="image-container">
            <a href="{{ url_for('get_image', image_path=image['name']) }}" target="_blank">
                <img src="{{ url_for('get_image', image_path=image['name']) }}" alt="{{ image['name'] }}">
            </a>
            <p>{{ image['name'] }}</p>
            <p>Size: {{ image['size'] }} bytes</p>
            <p>Modified Time: {{ image['modified_time'] }}</p>
        </div>
    {% endfor %}
</body>
</html>
