<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link type="text/css" rel="stylesheet" href="main.css"> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trigger Page</title>
  </head>
  <body>
    <h1>TAC</h1>

    <div class="table-container">
      <table id="logsTable1">
        <!-- <caption>
          Logs Table 1
        </caption> -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Image Path</th>
            <th>Image</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <!-- Log rows for table 1 will be inserted dynamically here -->
        </tbody>
      </table>
    </div>
  
    <div class="button-container">
      <button id="triggerButton">Trigger</button>
      <a href="gallery">
        <button id="gallery1Button">Received & Captured</button>
      </a>
      <a href="gallery2">
        <button id="gallery2Button">Transmitted</button>
      </a>
    </div>

    <script>
      // Function to handle trigger button click
      function trigger() {
        fetch("/trigger", {
          method: "POST",
        })
          .then((response) => response.text())
          .then((data) => {
            console.log(data);
            fetchLogs(); // Fetch updated logs after triggering
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Function to fetch logs and update the table
      function fetchLogs() {
        fetch("/logs1")
          .then((response) => response.json())
          .then((data) => {
            const logs = data.logs;
            const tableBody1 = document.querySelector("#logsTable1 tbody");
            tableBody1.innerHTML = "";

            logs.forEach((log) => {
              const row = document.createElement("tr");
              row.innerHTML = `
                        <td>${log.id}</td>
                        <td>${log.object_detected}</td>
                        <td>${log.photo_capture}</td>
                        <td>${log.image_name}</td>
                        <td>${convertTime(log.time)}</td>
                    `;
              tableBody1.appendChild(row);
            });
          })
          .catch((error) => {
            console.error("Error:", error);
          });

        fetch("/logs2")
          .then((response) => response.json())
          .then((data) => {
            const logs = data.logs;
            const tableBody2 = document.querySelector("#logsTable2 tbody");
            tableBody2.innerHTML = "";

            logs.forEach((log) => {
              const row = document.createElement("tr");
              row.innerHTML = `
                        <td>${log.id}</td>
                        <td>${log.object_detected}</td>
                        <td>${log.photo_capture}</td>
                        <td>${log.image_name}</td>
                        <td>${convertTime(log.time)}</td>
                    `;
              tableBody2.appendChild(row);
            });
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Attach event listener to trigger button click
      const triggerButton = document.getElementById("triggerButton");
      triggerButton.addEventListener("click", trigger);

      // Fetch logs on page load
      fetchLogs();

      // Function to convert milliseconds to a formatted time string
      function convertTime(milliseconds) {
        const date = new Date(milliseconds);
        return date.toLocaleString();
      }
    </script>
  </body>
</html>
